section
{
    position: relative; 
    z-index: 99;
}

.animated-background
{
    background-color: #52d3d8;
    width: 100%; 
    animation: backgroundChange 30s 5s infinite; 
}

.animated-background::before
{
    background-color: #52d3d8;
    content: "";
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to right, #3887be, #52d3d8 );
}

.squares
{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    overflow: hidden;
}


.squares li
{
    list-style: none;
    position: fixed; 
    width: 20px; 
    height: 20px; 
    background: #ffffff4d;
    animation: goingUp 25s linear infinite; 
    bottom: -150px; 
}

.squares li:nth-child(1)
{
    left: 5%; 
    width: 90px; 
    height: 90px; 
    animation-delay: 2s; 
    animation-duration: 15s;
}

.squares li:nth-child(2)
{
    left: 10%; 
    width: 50px; 
    height: 50px; 
    animation-delay: 5s; 
    animation-duration: 12s;
}


.squares li:nth-child(3)
{
    left: 18%; 
    width: 85px; 
    height: 85px; 
    animation-delay: 7s; 
    animation-duration: 19s;
}

.squares li:nth-child(4)
{
    left: 18%; 
    width: 122px; 
    height: 122px; 
    animation-delay: 0s; 
    animation-duration: 20s;
}

.squares li:nth-child(5)
{
    left: 25%; 
    width: 82px; 
    height: 82px; 
    animation-delay: 2s; 
    animation-duration: 16s;
}

.squares li:nth-child(6)
{
    left: 45%; 
    width: 45px; 
    height: 45px; 
    animation-delay: 5s; 
    animation-duration: 10s;
}

.squares li:nth-child(7)
{
    left: 65%; 
    width: 65px; 
    height: 65px; 
    animation-delay: 4s; 
    animation-duration: 13s;
}

.squares li:nth-child(8)
{
    left: 80%; 
    width: 128px; 
    height: 128px; 
    animation-delay: 3s; 
    animation-duration: 9s;
}


.squares li:nth-child(9)
{
    left: 85%; 
    width: 25px; 
    height: 25px; 
    animation-delay: 1s; 
    animation-duration: 40s;
}

.squares li:nth-child(10)
{
    left: 35%; 
    width: 62px; 
    height: 62px; 
    animation-delay: 10s; 
    animation-duration: 35s;
}

.squares li:nth-child(11)
{
    left: 55%; 
    width: 100px; 
    height: 100px; 
    animation-delay: 15s; 
    animation-duration: 45s;
}


@keyframes goingUp 
{
    0%
    {
       transform: translateY(0), rotate(0);
       opacity: 1; 
       border-radius: 0%;
    }

    100%
    {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
    
}


@keyframes backgroundChange
{
    0%
    {
        background-color: #52d3d8;
    }

    25%
    {
        background-color: #3887be;
    }
    50%
    {
        background-color: #52d3d8;
    }

    75%
    {
        background-color: #3887be;
    }

    100%
    {
        background-color: #52d3d8;
    }

}